/* ==UserStyle==
@name           WorkFlowy
@namespace      github.com/iliawnek
@version        0.1.0
@description    A dark theme for WorkFlowy with alternative text formatting.
@author         Ken Li
@preprocessor   stylus
==/UserStyle== */

@-moz-document domain("workflowy.com")
  // page background
  body
    background: #222
  .page
    background-color: transparent
    border: none
    color: white
  